main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  p {
    margin: 10px 0;
    color: #555;
  }

  footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 10px;
  }
  footer p {
    margin: 0;
    color: black;
  }